# GITIGNORE template for Wwise Project

.backup*
.cache*
*.akd
*.prof
*.validationcache
*.wsettings
AkWwiseProjectData.asset
IncrementalSoundBankData.xml
WwiseUnityIntegration_Mac_Src.zip
WwiseUnityIntegration_Windows_Src.zip